<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="booking-title">Booking's Details</h1>
  </div>

  <div class="inside-card-booking">
    <div class="img-container-booking">
      <% if @booking.friend_profile.photo.attached? %>
        <%= image_tag cl_image_path(@booking.friend_profile.photo.key, height: 250, width: 300, crop: :fill) %>
      <% else %>
        <%= image_tag "logo.jpg" %>
      <% end %>
    </div>
    <div class="card-booking-card">
      <div class="card-body-text">
        <h2 class=""><%= @booking.friend_profile.username %></h2>
        <p class="card-text-black"> <strong>You booked with:</strong> <%= @booking.friend_profile.user.first_name %></p>
        <p class="card-text-black"> <strong>Dates:</strong> Starts <%= @booking.start_date.strftime("%d/%m/%Y") %> until <%= @booking.end_date.strftime("%d/%m/%Y") %></p>
        <p class="card-text-black"> <strong>Price per day:</strong> <%= @booking.friend_profile.day_rate.round(2) %> €</p>
      </div>
    <div class="price">
            <p class="card-text-price">
              Total price: <%=  @booking.friend_profile.day_rate.round(2) * (@booking.end_date.strftime("%d/%m/%Y").to_i - @booking.start_date.strftime("%d/%m/%Y").to_i + 1).to_i %> €
            </p>
            </div>
    </div>
  </div>
   <%= link_to "Delete booking", booking_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your profile? If yes, don't forget ton send a message to you buddy as soon as the chat is available " }, class: "button-delete mt-3" %>
</div>
