<div class="available-buddys">
    <h1>Available Buddys</h1>
<div class="container">
  <div class="card-container">
    <% @friend_profiles.limit(6).each do |friend_profile| %>
      <%= link_to friend_profile_path(friend_profile) do %>
      <div class="card mb-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
      <h2 class=""><%= friend_profile.username %></h2>
        <%friend_profile.hobbies.each do |hobby| %>
          <p class="card-text"> Hobbies<%= hobby.name %></p>
        <% end %>
          <p class="card-text"> Price per day: <%= friend_profile.day_rate.round(2) %> €</p>
          <p class="card-text"> Date created: <%= friend_profile.created_at.strftime("%d/%m/%Y") %></p>
          <p class="card-text"> Times booked: <%= friend_profile.bookings.count %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
  </div>
