<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= render "elements/button_login" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <p class="dropdown-toggle button-login" id="navbarDropdown" data-bs-toggle="dropdown">Menu</p>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Dashbord", users_dashboard_path(current_user), class: "dropdown-item" %>
              <%= link_to "Look for a Buddy",friend_profiles_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-menu" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
