  <div class="card-container-profiles">
    <% @friends_profiles.each do |friend_profile| %>
      <%= link_to friend_profile_path(friend_profile) do %>
      <% total_earnings = friend_profile.day_rate * friend_profile.bookings.count %>
      <div class="card mb-3">
      <% if @friend_profile.photo.attached? %>
      <%= image_tag cl_image_path(@friend_profile.photo.key, height: 300, width: 300, crop: :fill), class: "rounded-circle img-fluid shadow" %>
      <% else %>
       <%= image_tag "logo.jpg", class: "rounded-circle img-fluid shadow" %>
      <% end %>
      <div class="card-body">
      <h2 class=""><%= friend_profile.username %></h2>
          <%friend_profile.hobbies.each do |hobby| %>
            <p class="card-text"> Hobbies:<%= hobby.name %></p>
          <% end %>
          <p class="card-text"> Price per day: <%= friend_profile.day_rate.round(2) %> €</p>
          <p class="card-text"> Date created: <%= friend_profile.created_at.strftime("%d/%m/%Y") %></p>
          <p class="card-text"> Times booked: <%= friend_profile.bookings.count %></p>
          <p class="card-text"> Total earnings: <%= total_earnings.round(2) %> €</p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
