<div class="row" style="margin: 16px">
  <div class="col-md-4">
    <div class="container">
      <div class="">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.email %></p>
        <p><%= @user.birthday.strftime("%d/%m/%Y") %> (<%= @years_old %> ans)</p>
      </div>
      <%= render "elements/button_create_profile" %>

    </div>
  </div>
  <div class="col-md-8">
    <div class="container" data-controller="toggle">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="button fw-bolder" data-action="click->toggle#toggleTargets">Go to my Bookings</a>
        </li>
      </ul>
    <div data-toggle-target="hideable" hidden>
      <h2 class="my-3">My Bookings</h2>
      <%= render "users_dashboards/booking_cards" %>
    </div>
    <div data-toggle-target="hideable">
      <h2 class="my-3">My Profiles</h2>
        <%= render "users_dashboards/friend_cards" %>
    </div>
    </div>
</div>
