<div class="container mt-5">
  <div class="text-center mb-4">
    <h1 class="fw-bold">My Friend Profile</h1>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-md-4 text-center mb-4 mb-md-0">
    <% if @friend_profile.photo.attached? %>
      <%= image_tag cl_image_path(@friend_profile.photo.key, height: 300, width: 300, crop: :fill), class: "rounded-circle img-fluid shadow" %>
      <% else %>
       <%= image_tag "logo.jpg", class: "rounded-circle img-fluid shadow" %>
      <% end %>
    </div>
    <div class="col-md-5">
      <h2 class="mb-2">Hello, I'm</h2>
      <h1 class="fw-bold"><%= @friend_profile.username %></h1>
      <h5 class="mt-4">About me:</h5>
      <p><%= @friend_profile.comments %></p>

      <h5 class="mt-4">My main interest:</h5>
      <p><%= @friend_profile.interest %></p>
    </div>
    <div class="col-md-3">
      <div class="card shadow p-4 text-center">
        <h3 class="text-primary mb-3">
          <%= number_to_currency(@friend_profile.day_rate, unit: "€", precision: 2) %> / day
        </h3>
        <div data-controller="toggle" class="mt-5">
        <button data-action="click->toggle#book">Book me</button>
        <div data-toggle-target="togglableElement" class="d-none">
        <%= render "formbooking", booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
